<!-- /views/error.ejs -->
<!DOCTYPE html>
<html lang="ko">
<%- include('layout'); %>
<body>
  <div class="container">
    <h4>오류 발생</h4>
    <p><%= message %></p>
    <a href="/" class="btn">메인 페이지로 이동</a>
  </div>
</body>
</html>
